@charset "utf-8";

// If need, change your variables before importing Bulma
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$red: #EC6161;
$yellow: #fed83e;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;
// $navbar-padding-horizontal: 2rem;
// $navbar-padding-vertical: 3rem;

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
&.is-transparent {
    background-color: transparent;
    background-image: none;
    }
}

.proj{
    border: 2px solid red;
}
.welcome {
    min-height: 80vh;
}

.home {
    position: relative;
    top: 3vh;
    left: 3vw;
}

.me img {
    border-radius: 50%;
    max-width: 350px;
}   

// .story3 {
//     padding: 45vw;
// }

.achievement{
    font-size: calc(2.5vw + 1px);
}
.desc{
    font-size: calc(2vw + 1px);
}
.name{
    font-size: calc(4vw + 1px);
}

.myname {
    color: black;
    font-weight: bold;
    font-size: calc(4vw + 20px);
}
// Import the rest of Bulma

@import "~bulma/bulma.sass";